/*
!.gitignore

!matchgate_scrambling/
matchgate_scrambling/*
!matchgate_scrambling/matchgate_evolution/
matchgate_scrambling/matchgate_evolution/*
!matchgate_scrambling/matchgate_evolution/figures/

!haar_scrambling/
haar_scrambling/*
!haar_scrambling/haar_evolution/
haar_scrambling/haar_evolution//*
!haar_scrambling/haar_evolution//figures/

!haar_scrambling/
haar_scrambling/*
!haar_scrambling/matchgate_evolution/
haar_scrambling/matchgate_evolution//*
!haar_scrambling/matchgate_evolution//figures/

!matchgate_scrambling/
matchgate_scrambling/*
!matchgate_scrambling/haar_evolution/
matchgate_scrambling/haar_evolution/*
!matchgate_scrambling/haar_evolution/figures/